{% extends "base.html.twig" %}

{% block title %}{{ title}} {% endblock %}

{% block body %}
<div class="container">
    <div class="row text-center ">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>{{title}} </h1>
            <hr>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam aperiam alias molestiae magni numquam possimus quidem facere maiores sunt! Delectus rerum saepe adipisci necessitatibus tempora itaque. Possimus saepe id quo accusantium! In ipsum laborum eius voluptates rem doloremque ipsa eaque incidunt autem culpa porro deleniti distinctio, natus dolores id unde minus eligendi quos. Facilis quia ipsa pariatur veniam enim nobis eligendi? Quam, alias veniam porro iste ullam eum unde neque praesentium magni quae voluptates, nesciunt omnis ipsum consequuntur vitae obcaecati dolorum maxime minus eveniet accusantium sed aperiam facere! Eligendi voluptatibus in facere magnam praesentium deserunt impedit inventore natus voluptate iure, neque veritatis sit vero iste, accusamus exercitationem suscipit, perspiciatis placeat veniam? Earum aut, voluptatem necessitatibus excepturi sapiente, quibusdam dolorem eum laudantium eaque qui totam nam quasi. Sed earum facilis hic, dignissimos assumenda atque consequuntur enim rerum deleniti suscipit impedit nesciunt provident ut aliquid dolorem maiores debitis! Iure explicabo natus vero ut ex modi, sunt eveniet ratione dolore quibusdam tempora molestias quae exercitationem illo debitis non eos quia? Neque praesentium vero excepturi quo deleniti sit, molestiae, rerum adipisci deserunt magni repellat similique amet impedit id a optio. Sunt beatae ratione ex. Explicabo consectetur iusto placeat. Pariatur quia laborum eius aut in mollitia alias explicabo quidem veritatis iusto impedit, aliquam a ut ex voluptate nisi quibusdam porro fuga quasi non neque officiis aliquid vitae. Reprehenderit facere animi explicabo, mollitia dignissimos nisi voluptatibus odit voluptatem adipisci accusamus non quos quas fugiat ad ipsam blanditiis voluptate culpa officia, quam aliquam eius quod? Eius, officia architecto. Eum, voluptatem. Iusto sint tempore quam repellat autem placeat alias quo pariatur enim at itaque veniam asperiores, ipsum, eum reiciendis tempora quasi nihil natus accusamus. Maiores qui dolores veniam quisquam deserunt! Quibusdam labore repudiandae ipsa alias amet eius error voluptatibus voluptate commodi, maxime eos eligendi dolor vero rerum.
            </p>

            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nam eos animi neque, debitis aspernatur amet culpa blanditiis, eveniet perspiciatis facilis, facere cumque impedit voluptatem? Asperiores cupiditate, fugit sit, quo similique qui nisi eos ab quia, atque aliquid facilis. Consequuntur voluptates suscipit sit modi, amet repudiandae. Laboriosam amet laborum iure libero est accusantium explicabo minus. Asperiores, corporis? Sunt quibusdam omnis temporibus delectus laudantium? Id saepe, assumenda facilis voluptates voluptatibus harum sit veniam quia aliquam eligendi quasi. Vero magnam commodi est sequi, ullam tenetur soluta perspiciatis laborum assumenda laboriosam voluptate! Sapiente fugiat voluptas porro repudiandae! Ut aspernatur esse consequuntur beatae numquam.</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
