{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row ">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="text-center">{{title}} </h1>
            <hr>
            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Désignation du site :</strong>
                </div>
                <div class="card-body">
                    <h6>Nom du site : INSERER ICI LE NOM DE DOMAINE QUI AURA ETE CHOISIT</h6>
                    <p>Site Internet de l'association Acme </p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Editeur :</strong>
                </div>
                <div class="card-body">
                    <h6>Directeur de la publication :</h6>
                    <p>Mr X , Président de l'association</p>
                    <h6>Responsable éditorial :</h6>
                    <p>Mme y , Directrice de la Communication</p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Raison sociale :</strong>
                </div>
                <div class="card-body">
                    <h6>ASSOCIATION LOI 1901</h6>
                    <div class="text-center">
                        <p>Association Acme</p>
                        <p>100 avenue de Paris</p>
                        <p>75000 Paris </p>
                        <p>France</p>
                        <p>Tel : 01 02 03 04 05 </p>
                        <p>Email : acme@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Conception et réalisation du site :</strong>
                </div>
                <div class="card-body">
                    <p>ce site a été réaliser gratuitement par Mr ultimecreation lors d'un stage</p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Hébergement :</strong>
                </div>
                <div class="card-body">
                    <p>ce site est hébergé sur les serveurs INSERER ICI LE NOM DE L'HEBERGEUR QUI AURA ETE CHOISIT</p>
                    <p>Dernière mise à jour des mentions légales : mai 2018</p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>La mission du site</strong>
                </div>
                <div class="card-body">
                    <p>Notre site est principalement destiné au grand public. Il présente des informations générales  , ainsi que l'activité de l'association Acme.</p>
                    <p>Ces informations n'ont qu'une valeur indicative et ne sauraient engager la responsabilité de l'association Acme
                    </p>
                    <p>« Les informations fournies sur notre site sont destinées à améliorer l'information du public et ne remplace en aucun cas, la relation qui existe entre un patient (ou visiteur du site) et son médecin.»
                    </p>
                    <p>L'association Acme rappelle que le contenu de son site internet peut comporter des erreurs et/ou oublis , et qu'il est susceptible d'être modifié et/ou faire l'objet de mises à jour.
                        Si vous remarquez un lien brisé , une omission ou une erreur , vous pouvez le signaler en envoyant un courriel au webmaster.</p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Financement du site</strong>
                </div>
                <div class="card-body">
                    <p>ce site est financé par l'association Acme'</p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Publicité</strong>
                </div>
                <div class="card-body">
                    <p>L'association Acme' ne perçoit aucun revenu de la publicité.</p>
                    <p>Si des bannières de "type publicitaire" peuvent être diffuser sur le site à l'occasion de manifestations , il s'agit dans ce cas de partenariat ou tout simplement d'information vers le public.</p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Données personnelles</strong>
                </div>
                <div class="card-body">
                    <p>Les données à caractère personnel collectées sur le site de l'association Acme sont destinées à répondre à vos demandes.</p>
                    <p>Ces données ne font en aucun cas l'objet de transmission à des tiers.</p>
                    <p>Les informations nominatives concernant l'utilisateur sont à usage interne d'association acme'</p>
                    <p>Conformément à l'article 34 de la loi informatique et liberté vous disposez d'un droit d'accès aux informations vous concernant. Vous pouvez également modifier ou supprimer ces informations vous concernant.</p>
                    <p>Pour exercer ce droit d'accès il convient d'écrire à l'adresse suivante :</p>
                    <div class="text-center">
                        <p>Association Acme</p>
                        <p>100 avenue de Paris</p>
                        <p>75000 Paris </p>
                        <p>France</p>
                        <p>Tel :01 02 03 04 05</p>
                        <p>Email : acme@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Liens hypertexte</strong>
                </div>
                <div class="card-body">
                    <p>L'association Acme' décline toute responsabilité quant aux sites Internet possèdant un lien vers celui de l'association Acme.</p>
                    <p>Ce site peut contenir des liens vers d'autres sites Internet, l'association Acme'n'assume aucune responsabilité sur le contenu des sites autres que ceux faisant partie du domaine INSERER ICI LE NOM DE DOMAINE QUI SERA CHOISIT </p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Traces utilisateurs</strong>
                </div>
                <div class="card-body">
                    <p>Ce site peut requérir l'installation d'un cookie afin d'offrir un service optimal et d'adapter nos services.</p>
                    <p>Il n'est dans tous les cas jamais utilisé à des fins commerciales et ne permet pas de vous identifier. En revanche, il enregistre des informations relatives à la navigation de votre ordinateur sur notre site (les pages que vous avez consultées, la date et l'heure de la consultation,entre autres...).</p>
                    <p>La durée de conservation de ces informations dans votre ordinateur est de 1 an après votre dernière visite. Nous vous informons que vous pouvez opposer l'enregistrement de "cookies" en configurant votre ordinateur.</p>
                </div>
            </div>

            <div class="card ">
                <div class="card-title liguebleu text-white p-3">
                    <strong>Droit d'auteur et copyright</strong>
                </div>
                <div class="card-body">
                    <p>Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement interdite sauf autorisation expresse du directeur de la publication</p>

                    <p>Conformément aux dispositions du Code de la Propriété Intellectuelle toute reproduction partielle ou totale à usage collectif est strictement interdite sans autorisation expresse de l'association Acme.</p>

                    <p>Le site Internet de l'association Acme, dans la totalité de ses composantes constitue une œuvre protégée en France par le Code de la Propriété Intellectuelle, et à l'étranger par les conventions internationales en vigueur sur le droit d'auteur.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>


{% endblock %}

{% block stylesheets %}

{% endblock %}