{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row  ">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="text-center">{{title}} </h1>
            <hr>
            <h5>- Comité</h5>
            <ul>
                <li>- Historique</li>
                <li>- Présidence</li>
                <li>- Nous rencontrer</li>
            </ul>
            <h5>- Actualités</h5>
            <ul>
                <li>- Derniers articles</li>
                <li>- Bilans</li>
            </ul>
            <h5>- Missions</h5>
            <h5>- Actions</h5>
            <h5>- Je m'engage</h5>
            <ul>
                <li>- Faire un don</li>
                <li>- Faire un leg</li>
                <li>- Devenir partenaire</li>
                <li>- Bénévole</li>
            </ul>
            <h5>- Contact</h5>
            <h5>- Inscription</h5>
            <h5>- Connexion</h5>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}