{% extends "base.html.twig" %}

{% block title %}{{ title}} {% endblock %}

{% block body %}
<div class="container">
        <div class="row  ">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="text-center">{{title}} </h1>
                <hr>
                <h1 class="text-center">Comment devenir partenaire</h1>
                <div class="list-group">
                    <p class="lead list-group-item list-group-item-action text-center shadow">
                        Vous pouvez nous contacter par téléphone au : <br>
                        01 02 03 04 05<br>
                        par email : <br>
                        acme.association@gmail.com </h5>
                    </p>
                </div>
                <br>
                <h1 class="text-center">Pourquoi devenir partenaire</h1>
                <div class="list-group">
                    <p class="lead list-group-item list-group-item-action">
                        <i class="fa fa-check mr-2"></i>Chaque partenariat implique une relation gagnant-gagnant
                    </p>
                    <p class="lead list-group-item list-group-item-action">
                        <i class="fa fa-check mr-2"></i>Afin de vous démarquer de la concurrence et valoriser votre image
                    </p>
                    <p class="lead list-group-item list-group-item-action">
                        <i class="fa fa-check mr-2"></i>Bénéficier de réductions fiscales conséquentes
                    </p>
                    <p class="lead list-group-item list-group-item-action">
                        <i class="fa fa-check mr-2"></i>Partager vos compétences
                    </p>
                    <p class="lead list-group-item list-group-item-action">
                        <i class="fa fa-check mr-2"></i>Réaliser une opération exceptionnelle
                    </p>

                </div>
                
                <hr>
            </div>
        </div>
    </div>
{% endblock %}